<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="/css/styles.css">
    <title>MercadoLiebre</title>
    <script src="https://kit.fontawesome.com/117d4d8bac.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top">
            <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            <div class="barra">
                <form action="productos" method="POST" class="bar"></form>
                <label class="label"></label>
                <input type="text" name="buscador" placeholder="Buscar productos, marcas..." class="buscador">
                <button><i class="fas fa-search"></i></button>
            </form>
        </div>
        <h2 class="texto-header">
        <i><i class="fas fa-hand-holding-usd"></i></i>
            Comprá en cuotas y sin tarjetas de crédito</h2>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="/ofertas"> Ofertas </a></li>
                <li><a href="/tiendas"> Tiendas Oficiales </a></li>
                <li><a href="/vender"> Vender </a></li>
                <li><a href="/ayuda"> Ayuda </a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/crear-cuenta">Crea tu cuenta<i class="far fa-address-card"></i>
                </a></li>
                <li><a href="/ingresar">Ingresá<i class="fas fa-sign-in-alt"></i>
                </a></li>
                <li><a href="/misCompras">Mis compras<i class="fas fa-shopping-basket"></i>
                </a></li>
            </ul>
        </nav>
        <a href="#" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
    </header>
    <img width="100%" src="./images/img-home-banner.jpg" alt="Home Banner">
    <main>
        <h3 class="titulares">Basado en tu última visita</h3>
        <section class="visita">
            <article>
                <div class="img-producto">
                <img width="100%" src="./images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" >
                </div>
                <div class="articulo">
                    <i class="fas fa-truck"></i>
                    <div class="renglon">
                        <p class="precio">$6.700</p>
                        <p class="descuento">40% off</p>
                    </div>  
                    <h4 class="producto">Cafetera Moulinex</h4>
                </div> 
                </article>
            <article>
                <div class="img-producto">
                <img width="100%" src="./images/img-macbook-pro-2019.jpg" alt="MacBookPro2019" >
                </div>
                <div class="articulo">
                    <i class="fas fa-truck"></i>
                    <div class="renglon">
                        <p class="precio">$230000</p>
                        <p class="descuento">20% off</p>
                    </div>
                    <h4 class="producto">MacBook Pro 2019</h4>
                </div>
                </article>
            <article>
                <div class="img-producto">
                <img width="100%" src="./images/img-samsung-galaxy-s10.jpg" alt="SamsungGalaxyS10">
                </div>
                <div class="articulo">
                    <i class="fas fa-truck"></i>
                    <div class="renglon">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                    </div>
                    <h4 class="producto">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <div class="img-producto">
                <img width="100%" src="./images/img-tv-samsung-smart.jpg" alt="SmarTVSamsung" >
                </div>
                <div class="articulo">
                    <i class="fas fa-truck"></i>
                    <div class="renglon">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                    </div>
                    <h4 class="producto">SmartTv Samsung 43" </h4>
                </div>
            </article>
        </section>

        <h3 class="titulares">Ofertas</h3>
        <section class="ofertas">
            <article>
                <div class="img-producto">
                    <img width="100%" src="./images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" >
                    </div>
                    <div class="articulo">
                        <i class="fas fa-truck"></i>
                        <div class="renglon">
                            <p class="precio">$6.700</p>
                            <p class="descuento">40% off</p>
                        </div>  
                        <h4 class="producto">Cafetera Moulinex</h4>
                    </div> 
                </article>
            <article>
                <div class="img-producto">
                <img width="100%" src="./images/img-macbook-pro-2019.jpg" alt="MacBookPro2019" >
                </div>
                <div class="articulo">
                    <i class="fas fa-truck"></i>
                    <div class="renglon">
                        <p class="precio">$230000</p>
                        <p class="descuento">20% off</p>
                    </div>
                    <h4 class="producto">MacBook Pro 2019</h4>
                </div>
                </article>
            <article>
                <div class="img-producto">
                <img width="100%" src="./images/img-samsung-galaxy-s10.jpg" alt="SamsungGalaxyS10" >
                <div class="img-producto">
                <div class="articulo">
                    <i class="fas fa-truck"></i>
                    <div class="renglon">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                    </div>
                    <h4 class="producto">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article>
                <div class="img-producto">
                <img width="100%" src="./images/img-tv-samsung-smart.jpg" alt="SmarTVSamsung" >
                </div>
                <div class="articulo">
                    <i class="fas fa-truck"></i>
                    <div class="renglon">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                    </div>
                    <h4 class="producto">SmartTv Samsung 43" </h4>
                </div>
            </article>
        </section>
    </main>
    <br>
    <br>
    <footer class="centrar">
        <div>
            <i class="fas fa-credit-card"></i>
            <h4 class="tarjeta">Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y siempre es seguro!</p>
        </div>
        <br>
        <div>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $2500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <br>
        <div>
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta?¡Devolvelo! En Mercado Liebre, no hay nada que no se pueda hacer, porque siempre estas protegid@</p>
        </div>
        <br>
        </div>
        <div>
        <h4 class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</i></h4>
        </div>
    </footer>
</body>
</html>